<div class="widgetBody">
    <p>{{ 'Referrers_URLCampaignBuilderIntro'|translate(externallink('#'), '</a>', externallink('#'), '</a>')|raw }}</p>
    <div vue-entry="Referrers.CampaignBuilder" has-extra-plugin="{{ hasExtraPlugin|json_encode|e('html_attr') }}"></div>
</div>